<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="my_page.css">
    <title>Все пользователи</title>
</head>
<body class="body-background">
    <section class="container">
        <h1>Все пользователи</h1>
        <ul>
            <% users.forEach(user => { %>
                <li><%= user.login %> - Количество пройденных тестов: <%= user.testCount %></li>
            <% }) %>
        </ul>
        <button onclick="location.href='/my_page'">Назад</button>
    </section>
</body>
</html>
