<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Все пользователи</title>
</head>
<body>
    <h1>Все пользователи</h1>
    <ul>
        <% if (users && users.length > 0) { %>
            <% users.forEach(user => { %>
                <li><%= user.login %> - Количество пройденных тестов: <%= user.testCount %></li>
            <% }) %>
        <% } else { %>
            <li>Нет пользователей для отображения.</li>
        <% } %>
    </ul>
    <button onclick="location.href='/my_page'">Назад</button>
</body>
</html>
