<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профессии</title>
</head>
<body>
    <h1 style="text-align: center;">Профессии</h1>
    <div style="text-align: center;">
        <button onclick="window.location='/add_profession'">Добавить профессию</button>
    </div>



    <div id="professions-container">
        <% professions.forEach(function(professions) { %>
            <div onclick="window.location='/profession/<%= profession.id %>'">
                <span><%= profession.profession %></span>
            </div>
        <% }) %>
    </div>
</body>
</html>
